body{
    text-align: center;
    padding-top: 20px;
    font-size: large;
    background-color: rgb(29, 248, 87);
}

.red{
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 400px;
}
.yellow{
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 400px;
}
.green{
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 400px;
}
#button1{
    text-align: center;
    height: 50px;
    width: 80px;
    font-size: large;
    background-color: rgb(167, 61, 31);
    color: rgb(17, 15, 15);
    margin-bottom: 20px;
    border-radius: 20px;
}
#button2{
    text-align: center;
    height: 50px;
    width: 90px;
    font-size: large;
    background-color: rgb(226, 242, 85);
    color: rgb(27, 22, 22);
    margin-bottom: 20px;
    border-radius: 20px;
}
#button3{
    text-align: center;
    height: 50px;
    width: 80px;
    font-size: large;
    background-color: rgb(68, 189, 40);
    color: rgb(14, 11, 11);
    margin-bottom: 20px;
    border-radius: 20px;
}
#button1:hover{
    cursor: pointer;
}
#button2:hover{
    cursor: pointer;
}
#button3:hover{
    cursor: pointer;
}